.com-table-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & > div {
    flex: 1;
    min-height: 0;
  }

  .table-list-ProTable {
    height: 100%;

    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-table,
    .ant-table-container {
      height: 100%;
    }

    .ant-table-body {
      height: calc(100% - 40px);
    }
  }
}
