.com-table {
  .cds--data-table-content {
    max-height: var(--com-table-body-height);
    overflow: auto;
  }

  .cds--data-table > thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .cds--pagination {
    border-top: none;
  }
}
