.toolbar {
  padding: 10px 10px 10px 20px;
  width: 100%;
}

.group,
.innerGroup {
  display: flex;
  align-items: center;

  & > li {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border: 1px solid #ddd;
    border-right: 0;
    cursor: pointer;

    &:last-of-type {
      border-right: 1px solid #ddd;
    }
  }
}

.group {
  width: 100%;
}

.innerGroup {
  margin-right: 10px;
  flex-grow: 0;
  flex-shrink: 0;

  & > li.zoomReset {
    width: 64px;
  }
}
