.flow-dropdown {
  background-color: var(--supos-theme-color);
  color: #fff;
  border-color: var(--supos-theme-color);
}

.container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.canvas {
  height: calc(100% - 54px);
}

.propertiesPanel {
  position: absolute;
  top: 74px;
  right: 0;
  width: 300px;
  height: calc(100% - 74px);
  border-left: 1px solid #ddd;
  background: #fff;
  overflow: auto;
}
