.TreeItemWrapper {
  padding-left: var(--spacing);

  &.clone {
    display: inline-block;
    pointer-events: none;
    padding: 5px 0 0 10px;

    .TreeItem {
      --vertical-padding: 5px;

      max-width: 200px;
      border-radius: 4px;
      box-shadow: 0 15px 15px 0 rgb(34 33 81 / 10%);
    }

    &.notAllow {
      .TreeItem {
        background-color: #f5f5f5;
        color: rgb(22 22 22 / 25%);
      }
    }
  }

  &.ghost {
    &.indicator {
      opacity: 1;
      position: relative;
      z-index: 1;
      margin-bottom: -1px;

      &.notAllow {
        .TreeItem {
          border-color: #c6c6c6;
          background-color: #c6c6c6;

          &::before {
            border-left: 8px solid #c6c6c6;
          }
        }
      }

      .TreeItem {
        position: relative;
        padding: 0;
        height: 1px;
        border-color: #2389ff;
        background-color: #56a1f8;

        &::before {
          position: absolute;
          left: -1px;
          top: -6px;
          display: block;
          content: '';
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 8px solid #2389ff;
          background-color: transparent;
        }

        > * {
          /* Items are hidden using height and opacity to retain focus */
          opacity: 0;
          height: 0;
        }
      }
    }
  }

  &.selected {
    .TreeItem {
      border-color: #1d77fe;
      background-color: #e8f1ff;
    }
  }
}

.TreeItem {
  cursor: pointer;

  --vertical-padding: 8px;

  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--vertical-padding) 8px;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  background-color: var(--supos-bg-color);
}

.disableInteraction {
  pointer-events: none;
}

.disableSelection,
.clone {
  .Text,
  .Count {
    user-select: none;
  }
}

.Text {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.RightExtra {
  flex-shrink: 0;
}
